* {
  box-sizing: border-box;
}


body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/*changed the nav bar selector from an id to a class to decrease the specificty*/
/*explain why I used rem and em instead of pixels */

.navBar {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  padding-left: 1em;
  background-color: grey;

}


.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 40em;
  text-decoration: underline;
}

.navigation p {
  padding-left: 2em;
  padding-right: 2em;
}

.footer {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
}

.page-section-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: underline;
  padding-left: 40em;
}

.page-section-contact p {
  padding-left: 2em;
  padding-right: 2em;
}