* {
  box-sizing: border-box;
}


body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}



/*NAVIGATION SECTION*/

/*changed the nav bar selector from an id to a class to decrease the specificty*/
/*explain why I used rem and em instead of pixels */

.navBar {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  padding-left: 1em;
  background-color: grey;

}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 40em;
  text-decoration: underline;
}


.navigation p {
  padding-left: 2em;
  padding-right: 2em;
  cursor: pointer;
}


/*HERO BANNER SECTION*/

.hero-banner {
  display: flex;
  background-image: url("../images/heroimage.jpg");
  min-height: 20em;
  color: white;
}

.hero-banner h2 {
  font-size: 5rem;
  text-align: center;
  position: absolute;
  right: 1px;
  padding: 25px
}


/* MAIN GRID*/
.main-grid {
  display: grid;
  min-height: 500px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "page-section surf-report surf-report "
    "page-section led-wall calculator"
    "page-section pastel-puzzle Run-buddy"
}



.surf-report {
  grid-area: surf-report;

}


.led-wall {
  grid-area: led-wall;
}


.calculator {
  grid-area: calculator;
}

.pastel-puzzle {
  grid-area: pastel-puzzle;
}


.Run-buddy {
  grid-area: Run-buddy;
}




/*FOOTER SECTION*/
.footer {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
}

.page-section-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: underline;
  padding-left: 40em;
}

.page-section-contact p {
  padding-left: 2em;
  padding-right: 2em;
}

/*about me grid */